body {
    background: $background;
    color: $text;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: $linkcolor;
    text-decoration: none;
}

h2 {
    margin: 1rem auto .5rem;
    text-align: center;
}

hr {
    border: none;
    border-bottom: 1px solid $text;
    width: 80%;
    margin: 2rem auto;
}

.warning {
    margin: 1rem auto;
    text-align: center;
    color: $warning;
}

.important {
    font-weight: bold;
    background: $important;
}

input[type=file] {
    position: absolute;
    overflow: hidden;
    height: 1px;
    width: 1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
}

label, button {
    display: inline-block;
    border: 1px solid $inputborder;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background: transparent;
    color: $text;
    font-family: 'Noto Sans';
    font-size: 1rem;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
}

th, td {
    padding: .25rem .5rem;
}

fieldset {
    border: none;
    padding: 0;
}
